.tasks {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid hsl(0deg 0% 92%);
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__button {
    border: none;
    width: 30px;
    height: 30px;
    color: white;
    padding: 0px;
    transition: 0.5s;
}

.tasks__button--done {
    background: hsl(120, 96%, 25%);
}

.tasks__button--done:hover {
    background: hsl(120, 96%, 35%);
}

.tasks__button--done:active {
    background: hsl(120, 96%, 45%);
}

.tasks__button--remove {
    background: hsl(0, 86%, 42%);
}

.tasks__button--remove:hover {
    background: hsl(0, 86%, 52%);
}

.tasks__button--remove:active {
    background: hsl(0, 86%, 62%);
}
