html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
  background: hsl(0deg 0% 92%);
 }

button {
  cursor: pointer;
}